* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #d8f1e4 0%, #f1efb3 100%);
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
}

li.l1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

li.l2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.l2 {
    margin-right: 40px;
}

li a:hover {
    background-color: gray;
}

th,
td {
    text-align: center;
}
